@{
    ViewData["Title"] = "Главная страница";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Catalog</title>
</head>
<body>

    
    <div class="text-left">
        <p>
            Тестовое задание.<br>
            Веб приложение Кредитный калькулятор.<br>
            Для отправки заявки воспользуйтесь верхним меню навигации.<br>
        </p>
            @*<h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core @DateTime.Now.DayOfYear</a>.*@
        @*</p>*@
    </div>
</body>
</html>

